@mixin respond($breakpoint) {
  @if $breakpoint == desktop-lg {
    @media only screen and (min-width: 1450px) {
      @content;
    }
  }
  @if $breakpoint == tablet-land {
    @media only screen and (max-width: 75em) {
      // max 1200px
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 68.75em) {
      // max 1100px
      @content;
    }
  }
  @if $breakpoint == tablet-sm {
    @media only screen and (max-width: 50em) {
      // max 800px
      @content;
    }
  }
  @if $breakpoint == mobile-land {
    @media only screen and (max-width: 46.875em) {
      // max 750px
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width: 37.5em) {
      // max 600px
      @content;
    }
  }
}

$boxshadow1: rgba(62, 57, 107, 0.36) 0px 16px 38px -12px,
  rgba(62, 57, 107, 0.12) 0px 4px 25px 0px,
  rgba(62, 57, 107, 0.2) 0px 8px 10px -5px;
$boxshadow2: rgba(0, 0, 0, 0.12) 0px 3px 13px 1px;

$padding-sides-desktop: 7vw;
$padding-sides-mobile: 4vw;
